<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Welcome to the IT122 Dealership!</h1>

    <h3><a href="/">Home</a></h3>
    <h3>
      We're a car dealership dedicated to exploring JavaScript and its multiple
      applications!!
    </h3>
  </body>
</html>